<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
    {{>head}}
</head>
<body>
{{>header}}
<div class="text-left">
    <div class="row">
        <div>
            {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}
            {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}
            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}
            {{{body}}}
        </div>
    </div>
    {{>login}}
    {{>postQuestion}}
    {{>addPostImage}}
</div>
</body>
</html>
