div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: gray;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #357ae8;
}
