body {
    padding: 60px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*a {*/
/*color: #00B7FF;*/
/*}*/

.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}

.page-header {
    margin-top: 0;
}

.sidenav_left {
    height: 100%;
}

.sidenav_right {
    height: 100%;
}

a {
    color: #357ae8;
}

.makeBold {
    font-weight: bold;
}

.selectedFeed {
    color: darkorange;
}

body {
    /*background-color: #e8e7e3;*/
}

.expandonClick input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.expandonClick input[type=text]:focus {
    width: 60%;
}

.expandonClick1 table {
    width: 100%;
}

.expandonClick1 input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 2.5em;
}

.expandonClick1 input[type=text]:focus {
    width: 80%;
}

.expandonClick1 textarea {
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 2.5em;
}

.expandonClick1 textarea:focus {
    width: 80%;
}

.navbar-fixed-top .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.navbar-fixed-top .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.navbar-fixed-top .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.navbar-fixed-top .close:hover,
.navbar-fixed-top .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.navbar-fixed-top .img-rounded {
    width: 40%;
    height: 70%;
}

.commentOfComment {
    margin-top: 2em;
    margin-left: 8em;
}

#middleTable th {
    color: #357ae8;

}

#dispPosts1 table span {
    word-wrap: break-word;
}

#dispPosts1 td {
    color: darkblue;
}

#dispPosts1 tr:hover {
    background-color: #a1b9f4 !important;
}

#dispPosts1 tr:nth-child(even) {
    color: darkgreen;
}

#middleTable th span {
    float: right;
}

#dispPosts table span {
    word-wrap: break-word;
}

#dispPosts th, #dispPosts td {
    border-bottom: 1px solid #ddd;
}

#dispPosts td {
    color: darkblue;
}

#dispPosts tr:hover {
    background-color: #a1b9f4 !important;
}

.profile-pic {
    width: 5em;
    height: 5em;
}

#dispPosts tr:nth-child(even) {
    color: darkgreen;
}

@media only screen and (max-width: 840px) {

    .side-nav-name, .side-nav-image {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .positionFixed {
        position: relative;
    }

    .sidenav_left {
        width: 100%;
    }

    .sidenav_right {
        width: 100%;
    }

    .show_only_media {
        display: block;
    }

    .show_only_main {
        display: none;
    }
}