<form method="post" enctype="multipart/form-data" action="/profile/upload">
    <div class="form-group">
        Profile Photo:
        <br>
        <input type="file" name="img_file" class="form-control" required>
        <br>
        <input type="submit" value="Upload" class="login loginmodal-submit" style="width: 100%">
        <br>
    </div>
</form>