<div class="modal fade" id="thread-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog ">
        <div class="loginmodal-container width-container">
            <h1>Make a Thread</h1><br>
            <form method="post" action="/posts/addPost">
                <table>
                    <tr>
                        <th><label><b>Title</b></label></th>
                        <td><input type="text" placeholder="Enter Title" name="title" required></td>
                        <input type="hidden" name="isEdit" value=""/>
                    </tr>
                    <tr>
                        <th>
                            <label><b>Description</b></label>
                        </th>
                        <td>
                            <textarea class="textarea" placeholder="Enter Description" name="description" required
                                      style="margin: 0px 0px 10px; width: 450px; height: 184px;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label><b>Tags</b></label>
                        </th>
                        <td>
                            <textarea class="textarea" placeholder="Enter Tags" name="tags"
                                      style="margin: 0px 0px 10px; width: 450px; height: 83px;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <td>
                            <input type="submit" name="edit" class="login loginmodal-submit" value="Create">
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
</div>
